<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Tasks</title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body>
    <div id="div1">
        <form class="home" action="/home" method="post">
            <input type="hidden" name="user_id" value="<%= userId %>">
            <input type="submit" name="GO TO HOME" value="GO TO HOME" id="tab1">
            <label for="tab1"></label>
            <br>
            <br>
            <br>
        </form>
        <form class="to-do-list" action="/pending" method="post">
            <input type="hidden" name="user_id" value="<%= userId %>">
            <input type="submit" name="pending" value="TO DO LIST" id="tab1">
            <label for="tab1"></label>
        </form>
        <br>
        <br>
        <form class="completed" action="/completed" method="post">
            <input type="hidden" name="user_id" value="<%= userId %>">
            <input type="submit" name="completed" value="COMPLETED TASKS" id="tab2">
            <label for="tab2"></label>
        </form>
    </div>
    <div id="div4">
        <h1>COMPLETED TASKS</h1>
        <br>
        <div id="list">
            <% if (task && task.length > 0) { %>
                <ul>
                    <% for (let i = 0; i < task.length; ++i) { %>
                        <li data-index="<%= i %>">
                            <%= task[i] %>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <h2>No tasks are completed yet.</h2>
            <% } %>
        </div>
        <br>
        
    </div>

</body>
</html>
